#P1{
    background-image: url("images/image1.gif");
    background-repeat:no-repeat;
}
#P2{
    background-image: url("images/image2.gif");
    background-repeat:no-repeat;
}
#P3{
    background-image: url("images/image3.gif");
    background-repeat:no-repeat;
}
#P4{
    background-image: url("images/image4.gif");
    background-repeat:no-repeat;
}
#P5{
    background-image: url("images/image5.gif");
    background-repeat:no-repeat;
}
#P6{
    background-image: url("images/image6.jpg");
    background-repeat:no-repeat;
}
#P7{
    background-image: url("images/image7.gif");
    background-repeat:no-repeat;
}
#P8{
    background-image: url("images/image8.gif");
    background-repeat:no-repeat;
}
#P9{
    background-image: url("images/image9.gif");
    background-repeat:no-repeat;
}
#P10{
    background-image: url("images/image10.gif");
    background-repeat:no-repeat;
}
#P11{
    background-image: url("images/image11.gif");
    background-repeat:no-repeat;
}
#P12{
    background-image: url("images/image12.gif");
    background-repeat:no-repeat;
}
#P13{
    background-image: url("images/image13.gif");
    background-repeat:no-repeat;
}
#P14{
    background-image: url("images/image14.gif");
    background-repeat:no-repeat;
}
#P15{
    background-image: url("images/image15.gif");
    background-repeat:no-repeat;
}
#P16{
    background-image: url("images/image16.gif");
    background-repeat:no-repeat;
}
#P17{
    background-image: url("images/image16.gif");
    background-repeat:no-repeat;
}
pre{
    font-family:trebuchetms;
    color:white;
    font-size:14px;
}