#P1{
    background-image: url("image1.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background repeat: repeat;
    background-size: cover;
}
#P2{
    background-image: url("image2.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P3{
    background-image: url("image3.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P4{
    background-image: url("image4.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P5{
    background-image: url("image5.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P6{
    background-image: url("image6.jpg");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P7{
    background-image: url("image7.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P8{
    background-image: url("image8.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P9{
    background-image: url("image9.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P10{
    background-image: url("image10.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P11{
    background-image: url("image11.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P12{
    background-image: url("image12.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P13{
    background-image: url("image13.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P14{
    background-image: url("image14.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P15{
    background-image: url("image15.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P16{
    background-image: url("image16.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#P17{
    background-image: url("image16.gif");
    height: 100%;
    width: 100%
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
h1{
    font-family:trebuchetms;
    color:white;
    text-align: center;
    font-size: 350%;
}
